.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: contain;
}
.carousel {
    background: url("./resources/vivid-blurred-colorful-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.category-card {
    aspect-ratio: 1/1;
    border-radius: 15px;
    background-color: rgb(202, 202, 202);
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 10px;
}

footer a {
    color: #cfcfcf;
}

.grid_card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.grid_item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

@media screen and (min-width: 576px) {
    .grid_card_container {
        grid-template-columns: repeat(
            auto-fit,
            minmax(250px, calc(50% - 20px))
        );
    }
}

@media screen and (min-width: 992px) {
    .grid_card_container {
        grid-template-columns: repeat(
            auto-fit,
            minmax(250px, calc(33.33% - 20px))
        );
    }
}
